rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Разрешаем чтение и запись для папки invoices всем пользователям
    match /invoices/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
